.cuenta_gratis{
    padding: 30px 0px;
    background-color: var(--color_suscribete);
    border-top: 1px solid var(--borde_suscribete);
    border-bottom: 1px solid var(--borde_suscribete);
}

.wrap_inscribete{
    width: 1024px;
    margin: 0 auto;
}

.titulo_inscribete{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}

.descripcion_inscribete{
    text-align: center;
    color: white;
}

.boton_inscribete{
    width: 150px;
    text-align: center;
    padding: 15px;
    margin: 20px auto 0px auto;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    color: var(--borde_suscribete);
    display: block;
    background-color: white;
}

.boton_inscribete:hover{
    background-color: rgba(255, 255, 255, 0.8);
}